@charset "UTF-8";
@media  (max-width:730px){
    #obs{
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding:0.5rem 0;
    }
    .best{
        display:flex;
        flex-direction: column;
        gap:1rem;
    }
}

@media (min-width:655px){
    .cabecalho img{
        width:60px;
        margin:10px;
    }
    .nav-bar{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: wrap;
        margin:auto;
        padding:1rem;
        font-weight: bolder;
        font-size: 1.3em;
    }
    .nav-bar ul {
        display: flex;
        flex-wrap: wrap;
        padding:1rem;
        
        
    }
    .nav-bar li{
        display: flex;
        gap:1.5rem;
        cursor: pointer;
    }
    .nav-bar li:hover{
        transform: translateY(-5px);
        transition:all 0.2s;
        font-weight: bold;
    }
    .product-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .container{
        display:flex;
        justify-content:space-around;
    }
    .header-left{
        text-align: center;
        width: 600px;
    }
    .header-right{
        margin:1rem;
        overflow: hidden;
    }
    #obs{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .best img{
        
        width:100px;
        height:100px;
    }

}